<div>
	<div class="container-fluid">
		<h1>{{ vm.aluno.nome }}</h1>
		<h5>Média Geral: {{ vm.media }}</h5>
		<div class="row" ng-repeat="data in vm.detalhe">
			<ul>
				<li>
					<h5>Período: {{ data.periodo }}</h5>
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">Disciplina</th>
					      <th scope="col">N1</th>
					      <th scope="col">N2</th>
					      <th scope="col">Média</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="aluno in data.data">
					      <th>{{ aluno.disciplina }}</th>
					      <td>{{ aluno.n1 }}</td>
					      <td>{{ aluno.n2 }}</td>
					      <td>{{ aluno.media }}</td>
					    </tr>
					  </tbody>
					</table>
				</li>
			</ul>
		</div>
	</div>
</div>
