<div>
	<div class="jumbotron"><h1>{{ vm.aluno.nome }}</h1></div>
	<div class="container-fluid">
		<form ng-submit="vm.submit()">
			<div class="form-group row">
				<label class="col">Nome: </label>
				<input type="text" name="nome" ng-model="vm.aluno.nome" class="form-control col">
			</div>
			<div class="form-group row">
				<label class="col">Data de nascimento: </label>
				<input type="number" class="form-control col" ng-model="vm.aluno.dia" placeholder="dia">
				<input type="number" class="form-control col" ng-model="vm.aluno.mes" placeholder="mes">
				<input type="number" class="form-control col" ng-model="vm.aluno.ano" placeholder="ano">
			</div>
			<button class="btn" type="submit">Salvar</button>
			<button class="btn" type="button" ng-click="vm.apagar()" ng-show="vm.del">Apagar Aluno</button>
		</form>
	</div>
</div>