<div class="container-fluid">
	<div clas="row">
		<div class="jumbotron">
			<h1>Alunos</h1>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Data de Nascimento</th>
		      <td><button class="btn btn-success" ui-sref="aluno-cadastro">Adicionar</button></td>
		    </tr>
		  </thead>
		  <tbody>
		    <a><tr ng-repeat="aluno in vm.alunos">
		      <th scope="row">{{ aluno.id }}</th>
		      <td>{{ aluno.nome }}</td>
		      <td>{{ aluno.data_nascimento }}</td>
		      <td>
		      	<button class="btn btn-secondary" ng-click="vm.show(aluno, false)">Detalhes</button>
			    <button class="btn btn-secondary" ng-click="vm.show(aluno, true)">Editar</button>
		      </td>
		    </tr></a>
		  </tbody>
		</table>
	</div>
</div>