<div>
	<div class="jumbotron"><h1>{{ vm.disciplina.nome }}</h1></div>
	<div class="container-fluid">
		<form ng-submit="vm.submit()">
			<div class="form-group">
				<label>Nome: </label>
				<input type="text" name="nome" ng-model="vm.disciplina.nome" class="form-control">
			</div>
			<button type="submit" class="btn">Salvar</button>
			<button type="button" class="btn" ng-click="vm.apagar()" ng-show="vm.del">Apagar disciplina</button>
		</form>
	</div>
</div>