<div class="container-fluid">
	<div clas="row">
		<div class="jumbotron">
			<h1>Disciplinas</h1>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
		      <th scope="col">id</th>
		      <th scope="col">Nome</th>
		      <td><button class="btn btn-success" ui-sref="disciplina-cadastro">Adicionar</button></td>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="disciplina in vm.disciplinas">
		      <th scope="row">{{ disciplina.id }}</th>
		      <td>{{ disciplina.nome }}</td>
		      <td>
			    <button class="btn btn-secondary" ng-click="vm.show(disciplina)">Editar</button>
		      </td>
		    </tr>
		  </tbody>
		</table>

		<div ng-include="vm.menu"></div>
	</div>
</div>
