<div class="container-fluid">
	<div class="jumbotron"><h1>Matrícula</h1></div>
	<form ng-submit="vm.submit()">
		<div class="form-group row">
			<label class="col-2">Período: </label>
			<input type="number" ng-model="vm.periodo" class="form-control col-8">
		</div>
		<div class="form-group row">
			<label class="col-2">Aluno: </label>
			<select class="form-control col-8" ng-model="vm.aluno" ng-options="aluno.nome for aluno in vm.alunos"></select>
		</div>
		<div class="form-group row">
			<label class="col-2">Disciplina: </label>
			<select class="form-control col-8" ng-model="vm.disciplina" ng-options="disciplina.nome for disciplina in vm.disciplinas"></select>
		</div>
		<button type="submit" class="btn">Salvar</button>
	</form>
</div>