.brand {
  width: 10em;
  float: left;
}
.ms-menu { text-align: right; }
.ms-menu li {
	display: inline;
	margin: 0 5px;
	font-family: Rammetto One;
}
.ms-menu li a { text-decoration: none; }
.ms-navbar {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}
table { text-align: center; }
.jumbotron { text-align: center; }