<div class="ms-navbar">
	<ul class="ms-menu">
		<li><a ui-sref="home">Home</a></li>
		<li><a ui-sref="alunos">Alunos</a></li>
		<li><a ui-sref="matricula-cadastro">Matrícula</a></li>
		<li><a ui-sref="disciplinas">Disciplinas</a></li>
	</ul>
</div>